

#content {
    width: 55em;
    margin: 10em auto
}


h4  {
    font-family: 'Zilla Slab', serif;
}

.simple-subscription-form {
    background: #0c3e5f;
    color: #fefefe;
    padding: 2rem 6rem;
    border-radius: 0;
    text-align: center;

}

.simple-subscription-form .button {
    margin-bottom: 0;
    border-radius: 0 0 0 0;
}

#token {
    width: 100%;
    font-family: 'Space Mono', monospace;
    font-size: 14px;
    text-align: left;
    white-space: pre-wrap;
    word-wrap: break-word;

    padding: 1em;
    background-color: #1779ba;
}


